<section class="claim">
  <h3 class="claim__container--title--tips">insomnia tips</h3>
  <article class="claim__container">
    <h2 class="claim__container--title">looking throuht a window</h2>
    <p class="claim__container--title--text">
      donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. vivamus semper sodales rutrum.
    </p>
  </article>

  <div class="claim__button">
    <p class="claim__button--text">go</p>
  </div>
</section>
