<footer class="footer__container">
  <div class="footer__button">
    <a href="#header">
      <img
        class="footer__button--up"
        src="./assets/images/ico-arrow.svg"
        alt="down"
      />
    </a>
  </div>


<div class="footer__container--responsive">
  
    <ul class="footer__container--links">
      <li>
        <a
          class="footer__container--links--style"
          href="https://adalab.es/empresas/"
          target="_blanket"
          >articles</a
        >
      </li>
      <li>
        <a
          class="footer__container--links--style"
          href="https://adalab.es/cursos-desarrollo-web/"
          target="_blank"
          >books</a
        >
      </li>
      <li>
        <a
          class="footer__container--links--style"
          href="https://adalab.es/calendario-de-la-programadora-2021/"
          target="_blank"
          >events</a
        >
      </li>
      <li>
        <a
          class="footer__container--links--style"
          href="https://adalab.es/blog/"
          target="_blank"
          >reason</a
        >
      </li>
      <li>
        <a
          class="footer__container--links--style"
          href="https://adalab.es/voluntariado/"
          target="_blank"
          >tips</a
        >
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="footer__container--socials">
      <li>
        <a
          class="footer__container--socials--style"
          href="https://twitter.com/Adalab_Digital?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          target="_blank"
          >twitter</a
        >
      </li>
      <li>
        <a
          class="footer__container--socials--style"
          href="https://adalab.es/"
          target="_blank"
          >instagram</a
        >
      </li>
      <li>
        <a
          class="footer__container--socials--style"
          href="https://adalab.es/"
          target="_blank"
          >mastodom.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__copy">
    <p class="footer__copy--text">&copy;2021</p>
    <p class="footer__copy--heart">
      we  <i class="fas fa-heart heart"></i> components
    </p>
  </div>
</nav>
    </div>
  
</footer>
