<footer class="footer__container">
  <div></div>
  <nav class="footer__links">
    <ul>
      <li><a href="">articles</a></li>
      <li><a href="">books</a></li>
      <li><a href="">events</a></li>
      <li><a href="">reason</a></li>
      <li>tips</li>
    </ul>
  </nav>
  <nav class="footer__socials">
    <ul>
      <li><a href="">twitter</a></li>
      <li><a href="">instagram</a></li>
      <li><a href="">mastodom.social</a></li>
    </ul>
  </nav>
  <div class="footer__copy">
    <p>&copy;2021 we <i class="fas fa-heart heart"></i> components</p>
  </div>
</footer>
