<footer class="footer__container">
  <div class="footer__button">
    <a href="#">
      <img
        class="footer__button--up"
        src="./assets/images/ico-arrow.svg"
        alt="down"
      />
    </a>
  </div>

  <nav>
    <ul class="footer__container--links">
      <li><a class="footer__container--links--style" href="">articles</a></li>
      <li><a class="footer__container--links--style" href="">books</a></li>
      <li><a class="footer__container--links--style" href="">events</a></li>
      <li><a class="footer__container--links--style" href="">reason</a></li>
      <li><a class="footer__container--links--style" href="">tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="footer__container--socials">
      <li><a class="footer__container--socials--style" href="">twitter</a></li>
      <li>
        <a class="footer__container--socials--style" href="">instagram</a>
      </li>
      <li>
        <a class="footer__container--socials--style" href="">mastodom.social</a>
      </li>
    </ul>
  </nav>
  <div class="footer__copy">
    <p class="footer__copy--text">&copy;2021</p>
    <p>we <i class="fas fa-heart heart"></i> components</p>
  </div>
</footer>
