<section class="reason__container">
  <h2 class="reason__container--title">3 reasons to purchase</h2>

  <article class="reason__container--reason--1">
    <h3 class="reason__sutitle">ut sed metus</h3>
    <p class="reason__text">Lorem ipsum dolor sit amet consectetur</p>
  </article>

  <article class="reason__container--reason--2">
    <h3 class="reason__sutitle">curabitur ac erat</h3>
    <p class="reason__text">distinctio quasi mollitia hic possimus</p>
  </article>

  <article class="reason__container--reason--3">
    <h3 class="reason__sutitle">morbi dictum</h3>
    <p class="reason__text">quam blanditiis at inventore dolorem repudiandae</p>
  </article>

  <div class="reason__button"><a href=""> more reasons</a></div>
</section>
