<section class="main__reason--container">
  
    <h2>3 reasons to purchase</h2>
  </div>
  <div class="main__article--container">
    <article>
      <h2>ut sed metus</h2>
      <p class="main__text--1">Lorem ipsum dolor sit amet consectetur</p>
    </article>
    <article>
      <h2>curabitur ac erat</h2>
      <p class="main__text--2">distinctio quasi mollitia hic possimus</p>
    </article>
    <article>
      <h2>morbi dictum</h2>
      <p class="main__text--2">
        quam blanditiis at inventore dolorem repudiandae
      </p>
    </article>
  <div class="main__button"><a href=""> more reasons</a></div>
</section>
