<section id="reason" class="reason__container">
  <h2 id="3reason" class="reason__container--title">3 reasons to purchase</h2>

  <article class="reason__container--reason--1">
    <h3 class="reason__subtitle">Ut sed metus</h3>
    <p class="reason__text">Lorem ipsum dolor sit amet consectetur</p>
  </article>

  <article class="reason__container--reason--2">
    <h3 class="reason__subtitle">Curabitur ac erat</h3>
    <p class="reason__text">Distinctio quasi mollitia hic possimus</p>
  </article>

  <article class="reason__container--reason--3">
    <h3 class="reason__subtitle">Morbi dictum</h3>
    <p class="reason__text">Duam blanditiis at inventore dolorem repudiandae</p>
  </article>

  <div class="reason__button">
    <a class="reason__button--link" href="https://adalab.es/" target="_blank">
      More reasons</a
    >
  </div>
</section>
