<section class="special__offer--main">
  <article>
    <h2 class="special__offer--main--title">special offer</h2>
  </article>
  <div class="special__offer--main--subtitle">
    <h3 class="special__offer--main--subtitle-1">20% disscount</h3>
    <p class="special__offer--main--subtitle--text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      nemo temporibus asperiores fugit aliquam, ipsam quasi laudantium ratione
      repellat numquam libero quaerat, placeat molestiae. Maxime cumque maiores
      dicta aliquid iste.
    </p>
  </div>
</section>
