// fonts
$font-family: "Roboto Slab", serif;
$font-wregular: 400;
$font-wmedium: 500;
$main-articlefs: 700;
$header-titlefs: 42px;
$header-textfs: 16px;
$claim-title2fs: 14px;
$claim-titlefs: 24px;
$claim-textfs: 18px;
$claim-buttonfs: 20px;
$main-titlefs: 24px;
$main-articlefs: 18px;
$main-buttonfs: 20px;
$footer-linksfs: 16px;
$footer-socialsfs: 16px;
$menu-iconcolor: #0271bc;
$header-titlebigcolor: #ffffff;
$claim-smalltxtcolor: #8ccbea;
$contentcolor: #000000;
$main-buttoncolor: #f26002;
$fondo-claim: #ffffff;
$fondo-main: #eff9ff;
$fondo-footer: #304268;
