// fonts
$font-family: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$header-titlefs: 42px;
$header-textfs: 16px;
$claim-title--2-font-size: 14px;
$claim-title-font-size: 24px;
$claim-text-font-size: 18px;
$claim-button-font-size: 20px;
$main-title-font-size: 24px;
$main-article-font-size: 18px;
$main-button-font-size: 20px;
$footer-links-font-size: 16px;
$footer-socials-font-size: 16px;
