.claim {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 30px 15px 45px;
  font-family: $font-family;

  @include tablet {
    padding: 30px 39px 60px;
  }

  @include desktop {
    padding: 60px 270px 60px;
  }
}

.claim__container--title--tips {
  width: 300px;
  height: 30px;
  font-size: $claim-title2fs;
  color: $claim-smalltxtcolor;
  &:first-letter {
    text-transform: uppercase;
  }
}

.claim__container {
  width: 100%;
  height: auto;

  &--title {
    font-weight: 700;
    font-size: $claim-titlefs;
    text-transform: capitalize;
    line-height: 30px;
    height: 60px;

    @include tablet {
      font-size: 26px;
      line-height: 45px;
    }
    @include desktop {
      font-size: 32px;
      line-height: 45px;
    }
  }

  &--title--text {
    margin: 15px 0 30px;
    font-size: $claim-textfs;
    line-height: 1.67;
    &:first-letter {
      text-transform: uppercase;
    }

    @include tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
.claim__button {
  width: 76px;
  height: 45px;
  border-radius: 23px;
  border: solid $main-buttoncolor 3px;
  color: $main-buttoncolor;
  text-transform: capitalize;
  font-weight: 700;
  padding: 10px 25px 0 26px;
  transition: all 0.2s ease-in-out;

  @include tablet {
    width: 90px;
    height: 45px;
    border-radius: 23px;
    padding: 6px 25px 0 26px;
    font-size: 23px;
  }

  @include desktop {
    width: 160px;
    height: 45px;
    border-radius: 23px;
    padding: 5px 59px 0;
    font-size: 23px;
  }

  &--text {
    display: flex;
    width: 25px;
    height: 45px;
  }
}

.claim__button:hover {
  width: 45px;
  padding: 10px 0 0 10px;

  @include tablet {
    padding: 6px 0 0 6px;
    font-size: 23px;
  }

  @include desktop {
    padding: 5px 0 0 5px;
  }
}
