.claim__container {
  display: inline-block;
  width: 100vw;
  text-align: left;
  padding: 30px 15px 45px;
  font-family: $font-family;
}

.claim__title--container {
  width: 100%;
  height: auto;
}
.claim__title {
  font-weight: 700;
  font-size: $claim-titlefs;
  text-transform: capitalize;
  line-height: 1.25;
  height: 60px;

  &--2 {
    width: 90px;
    height: 30px;
    font-size: $claim-title2fs;
    color: $claim-smalltxtcolor;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
.claim__text {
  margin: 15px 0 30px;
  font-size: $claim-textfs;
  line-height: 1.67;
  &:first-letter {
    text-transform: uppercase;
  }
}
.claim__button {
  width: 76px;
  height: 45px;
  border-radius: 23px;
  border: solid $main-buttoncolor 3px;
  color: $main-buttoncolor;
  text-transform: capitalize;
  font-weight: 700;
  padding: 10px 25px 0 26px;

  &--text {
    display: flex;
    width: 25px;
    height: 45px;
  }
}
@media all and (min-width: 768px) {
  .claim__container {
    padding: 30px 40px 60px;
  }
  .claim__button {
    width: 90px;
    height: 45px;
    border-radius: 23px;
    padding: 6px 25px 0 26px;
    font-size: 23px;
  }
}
@media all and (min-width: 1200px) {
  .claim__container {
    padding: 60px 20% 60px;
  }
  .claim__button {
    width: 160px;
    height: 45px;
    border-radius: 23px;
    padding-left: 58px;
    font-size: 23px;
  }
}
