.claim__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 15px 45px;
  font-family: $font-family;
}
.claim__title--2 {
  width: 90px;
  height: 30px;
  font-size: $claim-title2fs;
  color: $claim-smalltxtcolor;
}
.claim__title--container {
  width: 290px;
  height: auto;
}
.claim__title {
  font-weight: $font-wbold;
  font-size: $claim-titlefs;
  text-transform: capitalize;
  line-height: 1.25;
  height: 60px;
}
.claim__text {
  width: 290px;

  margin: 15px 0 30px;
  font-size: $claim-textfs;
  line-height: 1.67;
}
.claim__button {
  width: 76px;
  height: 45px;
  border-radius: 23px;
  border: solid $main-buttoncolor 3px;
  color: $main-buttoncolor;
  text-transform: capitalize;
  font-weight: $font-wbold;
  padding: 10px 25px 0 26px;
}
.claim__botton--text {
  display: flex;
  width: 25px;
  height: 45px;
  text-align: center;
}
