.footer__container {
  background-color: $fondo-footer;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 45px;
  color: $header-titlebigcolor;
  line-height: 30px;
}
.footer__button {
  width: 45px;
  height: 45px;
  border-radius: 22px;
  background-color: $header-titlebigcolor;
  transform: translateY(-25px);
  justify-content: center;

  &--up {
    margin: 10px 12px 10px 12px;
  }
}
.footer__container--links {
  margin: 0 123px 30px 123px;
  font-family: $font-family;
  color: $header-titlebigcolor;
  list-style-type: none;

  &--style {
    text-decoration: none;
    color: $header-titlebigcolor;
    font-size: $footer-linksfs;
    text-transform: uppercase;
  }
}

.footer__container--socials {
  margin: 0 90px 30px 90px;
  list-style-type: none;
  font-family: $font-family;

  &--style {
    text-decoration: none;
    color: $header-titlebigcolor;
    font-size: $footer-socialsfs;
    text-transform: uppercase;
  }
}
.footer__copy {
  margin-bottom: 45px;
  font-size: $claim-title2fs;
  font-family: $font-family;

  &--text {
    display: flex;
    justify-content: center;
  }
}
.heart {
  color: $main-buttoncolor;
  transform: scale(0.5);
}
@media (min-width: 762px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .footer__copy {
    float: left;
    order: -2;
    text-align: left;
    --text {
      align-items: left;
    }
  }
  .footer__container--links {
    order: -1;
    margin-top: 45px;
  }
  .footer__button {
    order: 1;
    transform: translateY(-110px);
    align-items: center;
  }
}
