.header {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: $font-family;
  color: $header-titlebigcolor;

  &__menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $menu-iconcolor;
    width: 44px;
    height: 44px;

    &--item {
      display: block;
      padding: 15px 14px 15px 14px;
    }
  }
}
.header__title--container {
  padding: 284px 15px 45px 15px;
}

.header__title--main {
  font-size: $header-titlefs;
  text-transform: uppercase;
}
.header__title--small {
  font-size: $header-textfs;
  padding-top: 10px;
}

.header__button {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  background-color: $header-titlebigcolor;
  // border: 0 137px 53px 138px;

  &--down {
    width: 20px;
    height: 11px;
    margin: 17px 12px 15px 12px;
  }
}
