.reason__container {
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: $fondo-main;
  font-family: $font-family;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 27px;
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &--title {
    font-size: $claim-titlefs;
    font-weight: 700;
    text-transform: capitalize;
    justify-content: center;
    grid-row: 1;
    grid-column: 1/4;

    @include tablet {
      grid-row: 1;
      grid-column: 1 / 4;
      font-size: 35px;
    }

    @include desktop {
      grid-row: 1;
      grid-column: 1 / 4;
      font-size: 40px;
    }
  }
  &--reason--1 {
    grid-row: 2;
    grid-column: 2;

    @include tablet {
      grid-row: 2;
      grid-column: 1;
    }

    @include desktop {
      grid-row: 2;
      grid-column: 1;
    }
  }
  &--reason--2 {
    grid-row: 3;
    grid-column: 2;

    @include tablet {
      grid-row: 2;
      grid-column: 2;
    }

    @include desktop {
      grid-row: 2;
      grid-column: 2;
    }
  }
  &--reason--3 {
    grid-row: 4;
    grid-column: 2;

    @include tablet {
      grid-row: 2;
      grid-column: 3;
    }

    @include desktop {
      grid-row: 2;
      grid-column: 3;
    }
  }
}
.reason__button {
  grid-row: 5;
  grid-column: 1/4;

  @include tablet {
    grid-row: 3;
    grid-column: 1 / 4;
  }

  @include desktop {
    grid-row: 3;
    grid-column: 1 / 4;
  }
}

.reason__button {
  width: 184px;
  height: 45px;
  border-radius: 22px;
  background-color: $main-buttoncolor;
  padding: 0 20px 0 20px;
  margin: auto;
  transition: all 0.2s ease-in-out;

  @include tablet {
    width: 210px;
  }

  @include desktop {
    width: 255px;
  }

  &--link {
    color: $header-titlebigcolor;
    text-decoration: none;
    font-size: $claim-buttonfs;
    line-height: 45px;
  }
}

.reason__button:hover {
  transform: scale(1.1);
  transition-property: background-color;
  background-color: blue;
}

.reason__subtitle {
  font-size: $claim-textfs;
  font-weight: $claim-textfs;

  @include tablet {
    font-size: $claim-titlefs;
  }

  @include desktop {
    font-size: $claim-titlefs;
  }
}
.reason__text {
  font-size: $claim-textfs;
  margin-bottom: 45px;
  &:first-letter {
    text-transform: uppercase;
  }
  @include tablet {
    font-size: $claim-buttonfs;
  }

  @include desktop {
    font-size: $claim-titlefs;
  }
}
